

    
    <link rel="stylesheet" href="/css/dashboard.css">
    <div id="top-bar"></div>
    <div id="content-2">
        <a href="/">Back</a>
        <!-- <h1>Dashboard</h1> --> 
        <div id="course-name-wrap">
        <!-- <h1 id="course-name"><%= c.c_name %></h1> -->
            <br>
            <div id="course-name">
                <%= c.c_name %>
            </div>
            
            <br>
            <small id="reviews-no">
                <!-- 398 Reviews -->
            </small>
            <br>
            <small id="course-org" style="font-size: 15px;">
                Uploaded by: <%= c.instructor.username %>
            </small>
            <br>
            <small style="font-size: 15px;">
                Organization: <%= c.instructor.organization %>
            </small>
            <br>
        </div>
        <br>
        <br>
        <div class="divider"></div>
        <!-- <br> -->

        <% if(locals.user.enrolledCourses.includes(c._id)){%>

            <!-- to goto course -->
            <div id="goto-course-wrap" style="display: inline-block;">
                <div id="goto-course">
                    <h3><a href="<%= c.c_url %>">Go To Course</a></h3>
                </div>
            </div>

        <% }else{%>
            <br>
            <br>
            <!-- to enroll-course -->
            <div id="enroll-wrap">
                <div id="enroll">
                    <br>
                    <!-- <form action="/course/enroll-course" method="post">
                        <input type="text" name="enrolled_c_id" id="enroll-c-id" style="display: none;" value="<%= c._id %>">
                        <input type="submit" value="Enroll in the Course">
                    </form> -->
                    <form action="/course/enroll-course" method="post">
                        <input type="text" name="enrolled_c_id" id="enroll-c-id" style="display: none;" value="<%= c._id %>">                                
                        <input type="submit" id="enroll-now" value="Enroll in the Course">
                    </form>
                </div>
            </div>
        <% } %>
        <br>
        <br>
        <div id="about-course-wrap">
            <div id="about-course">
                <article>
                    <h2>About this Course</h2>
                    <p><%= c.c_description %></p>
                </article>
            </div>
        </div>
        <br>
        <br>
        <br>

 
        
        <div id="stu-in-course" style="display: block; background-color:cadetblue; padding: 20px; border-radius: 5px;">
            <h2>Students Enrolled in this Course</h2>
            <br>
                <% for(x of c.students){ %>
                    <ul>
                        <li id="<%=x.id%>" style="list-style: none;">
                            <div id="enrolled-user">
                                <div id="user-img" class="user">
                                    <img src="<%= x.avatar %>" alt="profile-image">
                                </div>
                                <div id="user-name" class="user">
                                    <div id="user-name-in">
                                        <a href=""><%= x.username %></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <br>
                    </ul>
                <% } %>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="divider"></div>
        <br>
        <br>
        <br>

        <div id="course-review-out">
            <div id="see-review-out"  style="width: 60%; display: inline-block;">
                <h3>
                    Here's how others like the Course...
                </h3>
                <br>
                <div id="see-reviews" style="max-height: 300px; scroll-behavior:smooth; overflow-y: scroll; display: block;">
                    
                    <% for(a of c.c_reviews){ %>
                        <div>
                            <ul>
                                <li>
                                    <p>
                                        <%= a.reviewContent %>
                                        <br>
                                        <div id="review-user">
                                            <div id="user-img-review" class="user">
                                                <img src="<%= a.student.avatar %>" alt="profile-image">
                                            </div>
                                            <div id="user-name" class="user">
                                                <div id="user-name-2-in">
                                                    <small><a href=""><%= a.student.username %></a></small>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                    <br>
                                </li>
                            </ul>
                        </div>    
                    <% } %>
                </div>
            </div>
            
            <div id="your-review" style="display: inline-block; width: 25%;">
                <h3> 
                    What's your say?
                </h3>
                <div id="course-review-in">
                    <form action="/review/create-review" method="post">
                        <textarea id="write-review" name="r_content" placeholder="Write your Review..." cols="40" rows="2" required></textarea>
                        <input type="hidden" name="course" value="<%= c._id %>">
                        <br>
                        <input type="submit" id="" value="Post Review">
                    </form>
                </div>
            </div>

        </div>
        <br>
        <br>


    </div>

