
<link rel="stylesheet" href="/css/dashboard.css">

<div id="content-2">
    <a href="/">Back</a>

    <h1>Your Courses</h1>


    <br>
    <br>
        <% for(i of myCourse.enrolledCourses){ %>
            <ul>
                <li>
                    <a href="/course/student-course-modal/<%= i._id %>"><%= i.c_name %></a>
                </li>
            </ul>    
        <% } %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="stu-instructors">
        <h3>Our Instructors</h3>
        <br>
        <br>
        <% for(u of all_inst){ %>
            <ul>
                <li id="<%=u.id%>" style="list-style: none;">
                    <div class="enrolled-user">
                        <div class="user-img" class="user">
                            <img src="<%= u.avatar %>" alt="profile-image">
                        </div>
                        <div class="user-name" class="user">
                            <a href="/user/v-profile/<%= u.id %>"><%= u.username %></a>
                        </div>
                    </div>
                </li>
                <br>
                <br>
            </ul>
        <% } %>
    </section>

</div>



