
<!-- <h1>This is your Profile Page!</h1> -->
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/profile.css">



<div id="content-2">


    <p style="  float: right;">
    <a href="/" style="position: fixed;">Back</a>
    </p>
    
    <div>
		<p id="my_name"><b id="my_name-1"><%= user.username %></b>
			<ul id="social">
				<li>
					<a href="https://www.linkedin.com/in/harshit-kumar-21060b165/" target="_blank"><img src="/images/linkedin-sign.png" title="linkedin"></a>
				</li>
				<li>
					<a href="https://www.facebook.com/harshit.gera.106" target="_blank"><img src="/images/facebook-logo.png" title="facebook"></a>
				</li>
				<li>
					<a href="https://twitter.com/Harshit16579101" target="_blank"><img src="/images/twitter-sign.png" title="twitter"></a>
				</li>
				<li>
					<a href="https://www.hackerrank.com/geraharshitkumar" target="_blank"><img src="/images/instagram.png" title="instagram"></a>
				</li>
			</ul>
		</p>
    </div>
	

    <section id="about" style="margin-top: 150px; background-color: white;">
        <div>
            <img id="my_image" src="/images/undraw_profile_pic_ic5t.svg" style="scale: 0.7;" alt="profile" title="profile">
        </div>
    </section>

    <section id="contact">
        <div id="contact-form-in-touch">
            <div id="form">
                <form action="">
                    <input id="name" type="text" name="username" placeholder="Your name" value="<%= user.username %>" readonly>
                    <input id="email" type="e-mail" name="email" placeholder="Your E-mail" value="<%= user.email %>" readonly>
                    <input id="address" type="text" name="address" placeholder="Your Address" value="<%= user.address %>" readonly>
                    <input type="tel" id="phone" name="phoneNumber" placeholder="123-45-678" value="<%= user.phoneNumber %>" readonly>
                    <input id="eduLevel" type="text" name="eduLevel" placeholder="Education Level" value="<%= user.eduLevel %>" readonly>
                    <input id="des" type="text" name="description" placeholder="About You..." value="<%= user.description %>" readonly>

                    <a class="sub-button" href="/user/stu-update-profile"> Edit Profile </a>
                </form>
            </div>
        </div>
        
    </section>

</div>