
<!-- <h1>This is your Profile Page!</h1> -->
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/profile.css">



<div id="content-2">


    <p style="  float: right;">
    <a href="/" style="position: fixed;">Back</a>
    </p>
    
    <div>
		<p id="my_name"><b id="my_name-1"><%= i.username %></b>
			<ul id="social">
				<li>
					<a href="https://www.linkedin.com/in/harshit-kumar-21060b165/" target="_blank"><img src="/images/linkedin-sign.png" title="linkedin"></a>
				</li>
				<li>
					<a href="https://www.facebook.com/harshit.gera.106" target="_blank"><img src="/images/facebook-logo.png" title="facebook"></a>
				</li>
				<li>
					<a href="https://twitter.com/Harshit16579101" target="_blank"><img src="/images/twitter-sign.png" title="twitter"></a>
				</li>
				<li>
					<a href="https://www.hackerrank.com/geraharshitkumar" target="_blank"><img src="/images/instagram.png" title="instagram"></a>
				</li>
			</ul>
		</p>
    </div>
	

    <section id="about" style="margin-top: 150px; background-color: white;">
        <div>
            <img id="my_image" src="/images/undraw_profile_pic_ic5t.svg" style="scale: 0.7;" alt="profile" title="profile">
        </div>
    </section>

    <section id="contact">
        <div id="contact-form-in-touch">
            <div id="form">
                <form action="">
                    <input id="input-name" type="text" name="username" placeholder="Your name" value="<%= i.username %>" readonly>
                    <input id="input-email" type="e-mail" name="email" placeholder="Your E-mail" value="<%= i.email %>" readonly>
                    <input id="input-email" type="text" name="organization" placeholder="Your Organization" value="<%= i.organization %>" readonly>
                    <input id="department" type="text" name="department" placeholder="N.A." value="<%= i.department %>" readonly>
                    <input id="designation" type="text" name="designation" placeholder="N.A." value="<%= i.designation %>" readonly>
                    <input id="expertise" type="text" name="expertise" placeholder="N.A." value="<%= i.expertise %>" readonly>    
                    
                    
                    <% if(locals.user && locals.user.id == i.id){ %>
                        <a class="sub-button" href="/user/profile/update-profile/<%= i.id%>"> Edit Profile </a>
                    <% } %>

                    
                </form>
            </div>
        </div>
        
    </section>

</div>