<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="/css/homepage.css"> -->
    <link rel="stylesheet" href="/css/layout.css">
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <!-- extracting styles from subpages into layout -->
    <%- style %>

</head>
<body>

	
    <input type="checkbox" id="check">
	<!--Header start-->
	<header>
		<div id="label-out">
			<label for="check">
				<i class="fa fa-bars" id="sidebar-btn"></i>
			</label>	
		</div>
		<div id="header-div">

			<div class="left-area">
                <a href="/homepage" style="text-decoration: none;"><h3>Learn<span>Dome</span></h3></a>
				
			</div>
			<div class="right-area">
				<div id="upload-img">
					<img src="./images/icons8-upload-50.png" style="scale: 0.6;">
				</div>
				<div id="log-out-out">
					<a href="/destroy-session" class="logout-btn">Log Out</a>
				</div>
				
			</div>
		</div>
	</header>
	<!--header end-->
	

	<div id="sidebar-out">
		<!--sidebar start-->
		<div class="sidebar">
			<aside class="">	
				
					<center>
						<img src="../images/undraw_profile_pic_ic5t.svg" alt="profile-pic" class="profile-image">
						<h4><%= user.username %></h4>
					</center>
					<a href="/user/s-profile"><i class="fa fa-user"></i><span>Profile</span></a>
					<a href="/user/myDome"><i class="fa fa-desktop"></i><span>My Dome</span></a>
					<a href="#"><i class="fa fa-book"></i><span>Library</span></a>
					<a href="#"><i class="fa fa-inbox"></i><span>Inbox</span></a>
					<a href="#"><i class="fa fa-cogs"></i><span>Settings</span></a>
					<a href="#"><i class="fa fa-info"></i><span>Inquiry</span></a>
				
				<!--sidebar end-->
			</aside>
		</div>
		
	</div>
    
    <main>
		<div class="content">

            <!-- Layout is just a wrapper -->
            <!-- predefined keyword for variables that will be filled-in here -->
            <%- body %>
        </div>
    </main>


    

    <!-- extracting scripts from subpages into the layout -->
    <%- script %>

	<script>
		<% if(flash.success && flash.success.length > 0){ %>
       
			new Noty({
				type: 'success',
				layout: 'topRight',
				theme: 'relax',
				text: '<%= flash.success %>',
				timeout: 1500,
				date: Date.now()
			}).show();

   		<% } %>

		<% if(flash.error && flash.error.length > 0){ %>
	
			new Noty({
				type: 'error',
				layout: 'topRight',
				theme: 'relax',
				text: '<%= flash.error %>',
				timeout: 1500,
				date: Date.now()
			}).show();

		<% } %>
	</script>

</body>
</html>













